[submodule "lib/hikari"]
	path = lib/hikari
	url = https://metrica-deploy:qdngRGqTQkfRpTMfexl@bitbucket.org/metrica/hikari-lib.git
[submodule "lib/hikari-reset"]
	path = lib/hikari-reset
	url = https://metrica-deploy:qdngRGqTQkfRpTMfexl@bitbucket.org/metrica/hikari-reset.git
[submodule "lib/hikari-js"]
	path = lib/hikari-js
	url = https://metrica-deploy:qdngRGqTQkfRpTMfexl@bitbucket.org/metrica/hikari-js.git
[submodule "lib/hikari-cms"]
	path = lib/hikari-cms
	url = https://metrica-deploy:qdngRGqTQkfRpTMfexl@bitbucket.org/metrica/hikari-cms.git
